<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!forecasts"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>

<table *ngIf="forecasts">
  <thead>
    <tr>
      <th>Date</th>
      <th>Temp. (C)</th>
      <th>Temp. (F)</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.date }}</td>
      <td>{{ forecast.temperatureC }}</td>
      <td>{{ forecast.temperatureF }}</td>
      <td>{{ forecast.summary }}</td>
    </tr>
  </tbody>
</table>
Parent Page : {{ message }}
<br />
<app-customer-form [childFullName]="message" (messageEvent)="receiveMessage($event)"></app-customer-form>


<h2 appHighlightsDirective highlightColor="lightblue">Hover over me!</h2>
<p appHighlightsDirective>Default yellow highlight</p>

<b>Pipe </b> <p>Uppercase: {{ 'angular' | uppercase }}</p>

<h3>Content Projection</h3>
<app-content-projection>
  <p class="header">This is from Parent content for Content Projection</p>
  <h2 class="footer">This is for Sub Title</h2>
</app-content-projection>
